.suo
db.lock
storage.ide
storage.ide-shm
storage.ide-wal
AWS.OCR.Views.dll
AWS.OCR.Views.pdb
AWS.OCR.deps.json
AWS.OCR.dll
AWS.OCR.pdb
AWS.OCR.runtimeconfig.dev.json
AWS.OCR.runtimeconfig.json
AWS.OCR.csproj.nuget.cache
AWS.OCR.csproj.nuget.g.props
AWS.OCR.csproj.nuget.g.targets
AdditionalProbingPaths.cache
ContainerDevelopmentMode.cache
ContainerId.cache
ContainerRunContext.cache
ImageBuildContext.cache
ImageId.cache
OperatingSystemName.cache
RelativeOutputAssemblyPath.cache
TargetFramework.cache
AWS.OCR.AssemblyInfo.cs
AWS.OCR.AssemblyInfoInputs.cache
AWS.OCR.RazorAssemblyInfo.cache
AWS.OCR.RazorAssemblyInfo.cs
AWS.OCR.RazorCoreGenerate.cache
AWS.OCR.RazorTargetAssemblyInfo.cache
AWS.OCR.RazorTargetAssemblyInfo.cs
AWS.OCR.TagHelpers.input.cache
AWS.OCR.TagHelpers.output.cache
AWS.OCR.assets.cache
AWS.OCR.csproj.CopyComplete
AWS.OCR.csproj.CoreCompileInputs.cache
AWS.OCR.csproj.FileListAbsolute.txt
AWS.OCR.csprojAssemblyReference.cache
_ViewStart.g.cshtml.cs
About.g.cshtml.cs
Contact.g.cshtml.cs
Index.g.cshtml.cs
Privacy.g.cshtml.cs
History.g.cshtml.cs
Error.g.cshtml.cs
_CookieConsentPartial.g.cshtml.cs
_Layout.g.cshtml.cs
_LoginPartial.g.cshtml.cs
_ValidationScriptsPartial.g.cshtml.cs
_ViewImports.g.cshtml.cs
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
project.assets.json
